# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
debug.log
/typings

# System Files
.DS_Store
Thumbs.db

package-lock.json
node_modules
/projects/ntk-cms-api/node_modules
/projects/ntk-cms-filemanager/node_modules
/projects/ntk-cms-fileuploader/node_modules
/projects/ngx-ntk-smart-module/node_modules


/projects/ntk-cms-api/package-lock.json
/projects/ntk-cms-filemanager/package-lock.json
/projects/ntk-cms-fileuploader/package-lock.json
/projects/ngx-ntk-smart-module/package-lock.json
/.angular/
.angular/*
