test file manager
<cms-file-manager
  (itemSelected)="onActionFileSelect1($event)"
  [language]="appLanguage"
  [isPopup]="true"
  [tree]="tree1"
  [openFilemanagerButtonLabelKey]="'hello.test'"
></cms-file-manager>
{{ selected1 | json }}
<br />

<cms-file-manager
  (itemSelected)="onActionFileSelect2($event)"
  [(options)]="optionsFileManager"
  [language]="appLanguage"
  [isPopup]="true"
  [(openForm)]="openForm"
  [tree]="tree2"
  [openFilemanagerButtonLabelKey]="'Select 2'"
></cms-file-manager>
{{ selected2 | json }}

<br />
<button (click)="onActionOpen(true)">Open Form</button>
<br />
<input  (click)="openForm=true"  type="test" value="{{selected2?.id}}" clickable>
<br>
<button (click)="onActionTest()">Click me!</button>

<br>
{{ optionsFileManager | json }}

