test file manager
<cms-file-manager
  (itemSelected)="onActionFileSelect1($event)"
  [language]="appLanguage"
  [isPopup]="true"
  [tree]="tree1"
  [openForm]="openForm"
  [openFilemanagerButtonLabelKey]="'hello.test'"
></cms-file-manager>
{{ selected1 | json }}
<br />

<cms-file-manager
  (itemSelected)="onActionFileSelect2($event)"
  [language]="appLanguage"
  [isPopup]="true"
  [(openForm)]="openForm"
  [tree]="tree2"
  [openFilemanagerButtonLabelKey]="'Select 2'"
></cms-file-manager>
{{ selected2 | json }}
<cms-file-manager
  (itemSelected)="onActionFileSelect3($event)"
  [language]="appLanguage"
  [isPopup]="true"
  [tree]="tree3"
  [openFilemanagerButtonLabelKey]="'Select 3'"
></cms-file-manager>
{{ selected3 | json }}
<br />
<button type="button"  (click)="onActionOpen(true)">Open Form</button>
<br />
<input  (click)="openForm=true"  type="test" value="{{selected2?.id}}" clickable>
<br>
<button type="button"  (click)="onActionTest()">Click me!</button>

<br>

