<div>
  <mat-toolbar class="toolbar">
    <span>Angular Material Cron Editor Demo</span>
    <span class="spacer"></span>
    <button mat-icon-button>
      <a href="https://www.npmjs.com/package/mat-cron-editor"><fa-icon [icon]="faNpm" size="3x"></fa-icon></a>
    </button>
    <button mat-icon-button>
      <a href="https://github.com/sethbrotherton/ng-cron-editor"><fa-icon [icon]="faGithub" size="3x"></fa-icon></a>
    </button>
  </mat-toolbar>
  <div class="flex-container">
    <h3>Cron Editor Options</h3>
    <div class="row">
      <mat-checkbox
        *ngFor="let setting of otherSettings"
        [checked]="cronOptions[setting]"
        (change)="updateSetting($event, setting)"
      >{{setting}}</mat-checkbox>
    </div>
    <div class="row">
      <mat-checkbox
        class="spacer"
        *ngFor="let setting of betweenSettings"
        [checked]="cronOptions[setting]"
        (change)="updateSetting($event, setting)"
      >{{setting}}</mat-checkbox>
    </div>
    <br>
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-form-field>
        <mat-label>Default Cron</mat-label>
        <input matInput [value]="cronOptions.defaultCron" [disabled]="true" #defaultCron>
      </mat-form-field>
    </div>
    <mat-cron-editor
      (cronEvent)="showCron($event)"
      [cronOptions]="cronOptions"
    ></mat-cron-editor>
    <br>
    <h2>Resulting Cron: {{resultingCron}}</h2>
  </div>
</div>


