<div class="container">
  <div class="row row-title">
    <div class="col-sm-11">
      <h1 class="d-inline-block">{{'TITLE' | translate}}</h1>
    </div>
    <div class="col-sm-1">

    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <code>ngx-ntk-cron-editor</code> {{'LIBRARY_IS' | translate}}
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-2">
      <h4>{{'OPTIONS' | translate}}</h4>
      <label class="advanced-cron-editor-label"><input type="checkbox" name="cronOptions.use24HourTime"
          [(ngModel)]="cronOptions.use24HourTime">use24HourTime: {{cronOptions.use24HourTime}}</label>
      <br>
      <label class="advanced-cron-editor-label"><input type="checkbox"
          [(ngModel)]="cronOptions.hideMinutesTab">hideMinutesTab: {{cronOptions.hideMinutesTab}}</label>
      <br> <label class="advanced-cron-editor-label"><input type="checkbox"
          [(ngModel)]="cronOptions.hideHourlyTab">hideHourlyTab: {{cronOptions.hideHourlyTab}}</label>
      <br><label class="advanced-cron-editor-label"><input type="checkbox"
          [(ngModel)]="cronOptions.hideDailyTab">hideDailyTab: {{cronOptions.hideDailyTab}}</label>
      <br><label class="advanced-cron-editor-label"><input type="checkbox"
          [(ngModel)]="cronOptions.hideWeeklyTab">hideWeeklyTab: {{cronOptions.hideWeeklyTab}}</label>
      <br><label class="advanced-cron-editor-label"><input type="checkbox"
          [(ngModel)]="cronOptions.hideAdvancedTab">hideAdvancedTab: {{cronOptions.hideAdvancedTab}}</label>

      <br><label class="advanced-cron-editor-label"><input type="checkbox"
          [(ngModel)]="cronOptions.hideSeconds">hideSeconds: {{cronOptions.hideSeconds}}</label>
      <br><label class="advanced-cron-editor-label"><input type="checkbox"
          [(ngModel)]="cronOptions.removeSeconds">removeSeconds: {{cronOptions.removeSeconds}}</label>
      <br><label class="advanced-cron-editor-label"><input type="checkbox"
          [(ngModel)]="cronOptions.removeYears">removeYears: {{cronOptions.removeYears}}</label>
    </div>
    <div class="col-md-10">
      <cron-editor [(cron)]="cronExpression" [disabled]="isCronDisabled" [options]="cronOptions"></cron-editor>
      <hr />
      <p>{{'RESULT' | translate}} </p>
      <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control" [(ngModel)]="cronExpression">
      </div>
    </div>
  </div>
</div>