/* FontAwesome CSS - Required for FontAwesome v4 and v5 icons */
@import "@fortawesome/fontawesome-free/css/all.css";

/* PrimeIcons CSS - Required for PrimeIcons */
@import "primeicons/primeicons.css";

/* Material Icons - Loaded from Google Fonts CDN */
/* Note: Material Icons are loaded via CDN in the consuming application's styles.scss */
/* @import url("https://fonts.googleapis.com/icon?family=Material+Icons"); */
