<div class="top">
  <h1>ntk-smart-loader</h1>
  <nav>
    <ul>
      <li><a routerLink="/smartLoaderTest/default"
           routerLinkActive="active">Default loader</a></li>
      <li><a routerLink="/smartLoaderTest/multi"
           routerLinkActive="active">Multi loaders</a></li>
      <li><a routerLink="/smartLoaderTest/custom"
           routerLinkActive="active">Custom loader</a></li>
      <li><a routerLink="/smartLoaderTest/autostart"
           routerLinkActive="active">Autostart loader</a></li>
    </ul>
  </nav>
</div>

<router-outlet></router-outlet>
