/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/* Material Icons */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* PrimeIcons CSS */
@import "primeicons/primeicons.css";

/* FontAwesome CSS */
@import "@fortawesome/fontawesome-free/css/all.css";
