body {
  font-family: "IRANSansWeb";
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700");
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "../projects/ntk-cms-filemanager/src/assets/styles.scss";
@import "../projects/ngx-ntk-smart-module/src/assets/ngx-ntk-smart-loader.scss";

body {
  font-family: 'Open Sans', sans-serif;
}
